@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Здравствуйте!</h1>
    <p>Это стартовая страница тестового задания для компании "Верста"</p>
    <p>Для того, чтобы посмотреть список заказов и/или внести новый, перейдите во вкладку "Заказы"</p>
</div>
